data/ru/lenta_2.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_34.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_38.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_40.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_5.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_12.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_10.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_24.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_3.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_43.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_44.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_9.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_0.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_32.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_33.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_7.txt filter=lfs diff=lfs merge=lfs -text
data/ru/tedtxt.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_11.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_26.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_29.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_39.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_42.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_49.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_13.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_20.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_23.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_28.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_31.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_41.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_45.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_8.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_15.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_21.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_22.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_4.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_47.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_19.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_14.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_16.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_35.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_36.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_37.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_46.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_1.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_18.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_25.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_27.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_30.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_48.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_50.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_6.txt filter=lfs diff=lfs merge=lfs -text
data/ru/lenta_17.txt filter=lfs diff=lfs merge=lfs -text
